 /*src/components/Footer/Footer.css */
.footer {
    background-color: #ffebd0;
    color: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: block; /* Ensure the footer is a block-level element */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    position: static; /* Position the footer at the bottom of the page */
}

 .footer .App-link {
     color: black; /* Change this to your desired color */
 }