.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.NavBar {
  margin-bottom: 0; /* Ensure no extra margin below the NavBar */
}

.App-header {
  background-color: floralwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 20px;
}

.App-header p.centered-text {
  max-width: 1600px;
  margin: 10px auto;
  text-align: center;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
